
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: url('BG.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.input-field {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.password-container input[type="password"] {
    width: calc(100% - 80px); 
}

.password-toggle {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.password-toggle input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.forgot-password {
    text-decoration: none;
    color: #007bff;
    font-size: 12px;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #fcb69f;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.or {
    margin: 20px 0;
    font-size: 14px;
    color: #888;
}

.social-login {
    display: flex;
    justify-content: space-around;
}

.social-btn {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.facebook {
    background-color: #3b5998;
    color: white;
}

.instagram {
    background-color: #830868;
    color: white;
}
